html, body{
  margin: 0;
  padding: 0;
  color: #555;
}

form{
  width: 400px;
  margin: 20px auto;
  position: relative;
}

input, select, textarea{
  display: block;
  margin-bottom: 1em;
  margin-top: 0.2em;
}

fieldset{
  margin-bottom: 2em;
  background: #fbfbfb;
  border: 1px solid #dedede;
  padding: 1em;
}

legend{
  color: #222;
}

input{
  border: 1px solid #777;
}

input.submit{
  float: right;
}

.invalid{
  border: 1px solid #ff6757;
}

.message{
  background: #fffdd5;
  border: 1px solid #ffd227;
  display: none;
  margin: 1em 0;
  padding: 1.2em;
}
